{% load i18n %}
<div class="sprak-sidebar" id="sprak-sidebar">{{banaan}}
    <h1>Translate: {{sparky_translate_from|upper}} &raquo; {{sparky_translate_to|upper}}</h1>
    <p>Progress: 20 / {{ count }} (53%)</p>
    <ul>
        {% for msg in messages %}
        <li><a href="javascript:void(0)" id="s-{{ msg.hash }}">{{ msg.show }}</a>
            <code type="source">{{ msg.source }}</code>
            <code type="msg">{{ msg.msg }}</code>
        </li>
        {% endfor %}
    </ul>
    <p>Woeha, finished!</p>
</div>
<div class="sparky-form" id="sparky-form">
    <form action="{% url sparky-message %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="source" value=""/>
        <input type="hidden" name="lang" value="{{ sparky_translate_to }}"/>
        <textarea cols="60" rows="6" name="msg"></textarea><br/>
        <input type="submit" name="submit" value="Save"/>
    </form>
</div>

<!-- Hello source code browser-->
<script src="{{ STATIC_URL }}sparky/js/sparky.js"></script>
<link href="{{ STATIC_URL }}sparky/css/sparky.css" rel="stylesheet"/>

